@using System.Xml.Linq
@model XElement

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Test", "Test", null, new { @class = "btn btn-default"})
@Html.ActionLink("Uppgift1", "Uppgift1", null, new { @class = "btn btn-default" })
@Html.ActionLink("Uppgift2", "Uppgift2", null, new { @class = "btn btn-default" })
@Html.ActionLink("Uppgift3", "Uppgift3", null, new { @class = "btn btn-default" })